@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('assets/styles/sidenav.css');
@import url('assets/styles/dashboard.css');

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 60px 1fr;
}
.container > nav {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-button {
    height: 100%;
    width: 60px;

    background-image: url(assets/icons/fi-rs-menu-burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
.nav-title {
    font-size: 1.3rem;
    margin-right: auto;
}
.nav-button {
    display: block;
    width: 60px;
    height: 100%;

    background-image: url(assets/icons/fi-rs-plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
.container > main {
    height: 100%;
    width: 100%;
}